# deps & build
node_modules/
.vite/
dist/
dist-ssr/
*.local

# rust / tauri
src-tauri/target/
src-tauri/gen/

# database (không commit dữ liệu/CSDL local)
*.db
*.db-shm
*.db-wal

# editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
